# Ignore build files generated in the report folder by LaTeX
report/*.aux
report/*.log
report/*.toc
report/*.out
report/*.pdf
report/*.bbl
report/*.blg
report/*.lof
report/*.lot
report/*.synctex.gz
report/*.fdb_latexmk
report/*.fls

# Ignore service log files
src/**/*.log
*.log
.vscode/